/* Supakorn Wongsawang 5910500147 */

body {
  padding:0;
  margin:0;
  font-family:verdana;
}

.grid-1 {
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.grid-3 {
  display:grid;
  grid-template-columns: 1fr 5fr 4fr;
  grid-auto-rows: auto;
  background-color: #CEE3F8;
}

.grid-20-10-1 {
  display:grid;
  grid-template-columns: 20fr 10fr 1fr;
  grid-auto-rows: auto;
}

header {
  background-color: #F0F0F0;
  border-bottom: solid black;
  border-width: thin;
  align-content:flex-start;
}

header ul {
  margin: 0;
  list-style-type:none;
}

header li {
  display: inline;
  font-size: 12px;
  font-family:verdana;
}

header li:hover {
  text-decoration: underline;
}

#hot-hack {
  border: solid black;
  border-width:thin;
  border-bottom:solid white;
  color:red;
}

#red-hack {
  color: red;
}

nav {
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: solid #5f99cf;
  border-width: thin;
  position: relative;
}

.babebit-pic {
  height: 75px;
  width: 200px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav > div > ul > li {
  display: inline;
  font-weight: bold;
  font-size: 22px;
  background-color: #FBFBFB;
  color: #5f99cf;
  margin-left: .1em;
  margin-right: .1em;
  padding-left: .3em;
  padding-right: .3em;
}

.profile-ops > div {
  background-color: #FBFBFB;
  color: #5f99cf;
  border-top-left-radius: 5px;
  margin-top: 25px;
  float:right;
  text-align: right;
  padding-right: 1em;
}

.profile-ops li {
  display: inline;
  list-style-type: none;
  font-size: 15px;
}

.search-container {
  margin-top: 1em;
}

.search-text-input {
  display:inline;
  height: 35px;
  width: 300px;
  background-color:white;
  margin-left: 1em;
  margin-bottom: 1em;
  border: solid black;
  border-width: thin;
}

.search-button {
  display:inline;
  background-color: white;
  border:none;
  margin-left: .75em;
  vertical-align: middle;
}

/* USER ACTION BUTTONS */

.user-action-button {
  background-color: #DEF2FF;
  height: 3em;
  margin-top: .25em;
  font-size: 17px;
  border: solid #fffff0;
  color: #4682b4;
  font-weight:bold;
  width: 100%;
  border-radius: 5%;
}

.user-action-button:hover {
  background-color: #3a5eca;
  color: white;
}

/* babebit GOLD */

.babebit-gold {
  margin-top: 2.5em;
  text-align:center;
  border: solid rgb(219, 209, 181);
}

.babebit-gold div {
  font-weight: 0;
  font-size: 16px;
  padding-top: 1em;
  color: rgb(100, 100, 80);
}

.bar-container {
  margin-right: 40px;
  margin-bottom: 1em;
}

.bar {
  border-bottom-left-radius: 8.5px;
  border-bottom-right-radius: 8.5px;
  border-top-left-radius: 8.5px;
  border-top-right-radius: 8.5px;
  background-color: #f3e287;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.gold-percent {
  font-size: 20px;
  font-weight:bold;
}

.babebit-gold-support {
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  color: rgb(100, 100, 80);
  box-shadow: 0 2px 1px -1px grey;
}

/* POST */

.post {
  display:grid;
  grid-template-columns: 1fr 1fr 7fr;
  grid-auto-rows: 200px;
}

.post-number {
  margin-top: 40px;
  font-size: 30px;
  text-align:right;
  color: grey;
}

.post-upvotes {
  text-align:center;
  color:grey;
}

.arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
    margin-top: 40px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.post-body {
  margin-left: 1em;
  margin-top: 20px;
}

.post-title {
  font-size: 22px;
  text-decoration:none;
  margin-bottom: 0;
}

.post-location {
  font-size: 12px;
}

.submit-link {
  color: #4682b4;
  text-decoration:none;
}

.post-options {
  color:grey;
  font-weight:bold;
  margin-bottom: 1em;
}

.post-options > span {
  margin-right: .25em;
}
